.main
  .main__header
    .main__header__data
      参加可能ルーム： 
    .main__header__c
      = link_to new_room_path do
        ルーム新規作成

  .main__rooms
    - rooms.each do |room|
      .main__rooms__state
        .main__rooms__state__image
          - if room.illust == nil
          - else
            = image_tag room.illust, size: "270x170"
        .main__rooms__state__data
          .main__rooms__state__data__box
            .main__rooms__state__data__box__name
              = "ルーム名： #{room.name}"
            .main__rooms__state__data__box__people
              参加人数： 
          .main__rooms__state__data__enter
            = link_to room_path(room.id) do
              入室
  .main__logo
    DrawCommunication2020