.main__rooms__state
  .main__rooms__state__image
  .main__rooms__state__data
    .main__rooms__state__data__box
      .main__rooms__state__data__box__name
        ルーム名： こんにちは
      .main__rooms__state__data__box__people
        参加人数： ６人
    .main__rooms__state__data__enter
      = link_to drows_path do
        入室

.main__rooms__state
  .main__rooms__state__image
  .main__rooms__state__data
    .main__rooms__state__data__box
      .main__rooms__state__data__box__name
        ルーム名： こんにちは
      .main__rooms__state__data__box__people
        参加人数： ６人
    .main__rooms__state__data__enter
      = link_to drows_path do
        入室


.main__rooms__state
  .main__rooms__state__image
  .main__rooms__state__data
    .main__rooms__state__data__box
      .main__rooms__state__data__box__name
        ルーム名： こんにちは
      .main__rooms__state__data__box__people
        参加人数： ６人
    .main__rooms__state__data__enter
      = link_to drows_path do
        入室


.main__rooms__state
  .main__rooms__state__image
  .main__rooms__state__data
    .main__rooms__state__data__box
      .main__rooms__state__data__box__name
        ルーム名： こんにちは
      .main__rooms__state__data__box__people
        参加人数： ６人
    .main__rooms__state__data__enter
      = link_to drows_path do
        入室

.main__rooms__state
  .main__rooms__state__image
  .main__rooms__state__data
    .main__rooms__state__data__box
      .main__rooms__state__data__box__name
        ルーム名： こんにちは
      .main__rooms__state__data__box__people
        参加人数： ６人
    .main__rooms__state__data__enter
      = link_to drows_path do
        入室

.main__rooms__state
  .main__rooms__state__image
  .main__rooms__state__data
    .main__rooms__state__data__box
      .main__rooms__state__data__box__name
        ルーム名： こんにちは
      .main__rooms__state__data__box__people
        参加人数： ６人
    .main__rooms__state__data__enter
      = link_to drows_path do
        入室

