.main_drow{"data-room-id": "#{@room.id}"}
  .main_drow__member
    = "参加者： "
    .main_drow__member__name
      - @member.each_with_index do |member,index|
        - if index + 1 < @member.size
          = "#{member.name}さん, "
        - else
          = "#{member.name}さん,"
  %canvas#draw-area{:height => "650px", :style => "border: 2px solid #696969", :width => "1165px"}
    %input#room-illust{name: "room_illust", type: "hidden", value: @room.illust }/
    = form_for @room do |f|
      %input#room-info{name: "room_info", type: "hidden", value: @room.id }/





  